<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Review">

	<select id="rvListCount" resultType="int">
		SELECT COUNT(*) FROM REVIEW
	</select>

	<select id="rvList" parameterType="paging" resultType="review">
		SELECT * FROM RVLIST WHERE RVRN BETWEEN #{startRow} AND #{endRow}
	</select>

	<insert id="rvWrite" parameterType="review">
		INSERT INTO REVIEW VALUES(RENO_SEQ.NEXTVAL, #{REId}, #{RETitle}, #{REContent}, #{REFileName,jdbcType=VARCHAR})
	</insert>

	<select id="rvView" parameterType="int" resultType="review">
		SELECT * FROM REVIEW WHERE RENo=#{RENo}
	</select>


</mapper>